<p><strong>Prodi Pendidikan Kimia</strong></p>

<ol>
	<li>Sertifikat Akreditasi 2015 - 2020 - <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_PENDIDIKAN_KIMIA_2015_2020_20240829_0001.pdf">download</a></li>
	<li>Sertifikat Akreditasi 2018-2023- <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_PENDIDIKAN_KIMIA_2018_2023.pdf">download</a></li>
	<li>Sertifikat Akreditasi 2023-2028 - <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_PENDIDIKAN_KIMIA_2023_2028.pdf">download</a></li>
	<li>SK Akreditasi 2018-2023&nbsp;- <a href="https://unwira.ac.id/assets/akreditasi/SK_BANPT_PENDIDIKAN_KIMIA_2018_2023.pdf">download</a></li>
	<li>SK Akreditasi 2023-2028&nbsp;- <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_PENDIDIKAN_KIMIA_2023_2028.pdf">download</a></li>
</ol>

<p><strong>Prodi Pendidikan Biologi</strong></p>
<ol>
	<li>Sertifikat Akreditasi 2014-2019- <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_PENDIDIKAN_BIOLOGI_2014_2019.pdf">download</a></li>
	<li>Sertifikat Akreditasi 2018-2023- <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT__PENDIDIKAN_BIOLOGI_2018_2023.pdf">download</a></li>
	<li>Sertifikat Akreditasi 2023-2028 - <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_PENDIDIKAN_BIOLOGI_2023_2028.pdf">download</a></li>
	<li>SK Akreditasi 2018-2023&nbsp;- <a href="https://unwira.ac.id/assets/akreditasi/SK_BANPT_PENDIDIKAN_BIOLOGI 2018_2023.pdf">download</a></li>
</ol>

<p><strong>Prodi Pendidikan Bahasa Inggris</strong></p>
<ol>
	<li>Sertifikat Akreditasi 2014-2019- <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_PENDIDIKAN_BAHASA_INGGRIS_2014_2019.pdf">download</a></li>
	<li>Sertifikat Akreditasi 2018-2023- <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_PENDIDIKAN_BAHASA INGGRI_2018_2023.pdf">download</a></li>
	<li>Sertifikat Akreditasi 2023-2028 - <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_PENDIDIKAN_BAHASA_INGGRIS_2023_2028.pdf">download</a></li>
	<li>SK Akreditasi 2018-2023&nbsp;- <a href="https://unwira.ac.id/assets/akreditasi/SK_BANPT_PENDIDIKAN_BAHASA_INGGRIS_2018_2023.pdf">download</a></li>
</ol>

<p><strong>Prodi Pendidikan Matematika</strong></p>
<ol>
	<li>Sertifikat Akreditasi 2013-2018- <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_PENDIDIKAN_MATEMATIKA_2013_2018.pdf">download</a></li>
	<li>Sertifikat Akreditasi 2018-2023- <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_PENDIDIKAN_MATEMATIKA_2018_2023.pdf">download</a></li>
	<li>Sertifikat Akreditasi 2023-2028 - <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_PENDIDIKAN_MATEMATIKA_2023_2028.pdf">download</a></li>
	<li>SK Akreditasi 2018-2023&nbsp;- <a href="https://unwira.ac.id/assets/akreditasi/SK_BANPT_PENDIDIKAN_MATEMATIKA_2018_2023.pdf">download</a></li>
</ol>
<p><strong>Prodi BK</strong></p>
<ol>
	<li>Sertifikat Akreditasi 2013-2018- <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_BK_2013_2018.pdf">download</a></li>
	<li>Sertifikat Akreditasi 2018-2023- <a href="https://unwira.ac.id/assets/akreditasi/SERTIFKAT_BK_2018_2023.pdf">download</a></li>
	<li>Sertifikat Akreditasi 2023-2028 - <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_BK_2023_2028.pdf">download</a></li>
	<li>SK Akreditasi 2018-2023&nbsp;- <a href="https://unwira.ac.id/assets/akreditasi/SK_BANPT_BK_2018_2023.pdf">download</a></li>
</ol>
<p><strong>Prodi Pendidikan Fisika</strong></p>
<ol>
	<li>Sertifikat Akreditasi 2009-2014- <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_PENDIDIKAN_FISIKA_2009_2014.pdf">download</a></li>
	<li>Sertifikat Akreditasi 2014-2019- <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_PENDIDIKAN_FISIKA_2014_2019.pdf">download</a></li>
	<li>Sertifikat Akreditasi 2018-2023- <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_PENDIDIKAN_FISIKA_2018_2023.pdf">download</a></li>
	<li>Sertifikat Akreditasi 2023-2028 - <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_PENDIDIKAN_FISIKA_2023_2028.pdf">download</a></li>
	<li>SK Akreditasi 2018-2023&nbsp;- <a href="https://unwira.ac.id/assets/akreditasi/SK_BANPT_PENDIDIKAN_FISIKA_2018_2023.pdf">download</a></li>
</ol>
<p><strong>Prodi Pendidikan Musik</strong></p>
<ol>
	<li>Sertifikat Akreditasi (SENDRATASIK) 2015-2020- <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_PENDIDIKAN_SENDRATASIK_2015_2020.pdf">download</a></li>
	<li>Sertifikat Akreditasi 2018-2020- <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_PENDIDIKAN_MUSIK_2018_2020.pdf">download</a></li>
	<li>Sertifikat Akreditasi PENDIDIKAN MUSIK 2020-2025- <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_PENDIDIKAN_MUSIK_2020_2025.pdf">download</a></li>
	<li>Sertifikat Akreditasi PENDIDIKAN MUSIK 2023-2028 - <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_PENDIDIKAN_FISIKA_2023_2028.pdf">download</a></li>
	<li>SK BANPT PENDIDIKAN MUSIK 2018-2023&nbsp;- <a href="https://unwira.ac.id/assets/akreditasi/SK_BANPT_PENDIDIKAN_MUSIK_2018_2023.pdf">download</a></li>
</ol>
<p><strong>Prodi Ilmu Hukum</strong></p>
<ol>
	<li>Sertifikat Akreditasi 2013-2018- <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_ILMU_HUKUM_2013_2018.pdf">download</a></li>
	<li>Sertifikat Akreditasi PRODI ILMU HUKUM 2018-2023- <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_ILMU_HUKUM_2013_2018.pdf">download</a></li>
	<li>Sertifikat Akreditasi PRODI HUKUM 2018-2023- <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_HUKUM_OKTOBER2018_SEPTEMBER2013.pdf">download</a></li>
	<li>SK Akreditasi PRODI ILMU HUKUM 2018-2023&nbsp;- <a href="https://unwira.ac.id/assets/akreditasi/SK_BANPT_ILMU_HUKUM_SEPTEMBER2018_SEPTEMBER2023.pdf">download</a></li>
	<li>SK Akreditasi PRODI HUKUM 2018-2023&nbsp;- <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_ILMU_HUKUM_SEPTEMBER2018_SEPTEMBER2023.pdf">download</a></li>
</ol>
<p><strong>Prodi Ilmu Filsafat</strong></p>
<ol>
	<li>Sertifikat Akreditasi Filsafat 2014-2019- <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_FILSAFAT_2014_2019.pdf">download</a></li>
	<li>Sertifikat Akreditasi Ilmu Filsafat 2014-2019- <a href="https://unwira.ac.id/assets/akreditasi/SK_BANPT_ILMU_FILSAFAT_2014_2019.pdf">download</a></li>
	<li>Sertifikat Akreditasi Ilmu Filsafat 2019-2024- <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_ILMU_FILSAFAT_2019_2024.pdf">download</a></li>
	<li>SK Akreditasi PRODI Ilmu Filsafat 2018-2023&nbsp;- <a href="https://unwira.ac.id/assets/akreditasi/SK_BANPT_ILMU_FILSAFAT_2019_2024.pdf">download</a></li>
</ol>
<p><strong>Prodi Ilmu Komputer</strong></p>
<ol>
	<li>Sertifikat Akreditasi Informatika 2011-2016 - <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_TEKNIK_INFORMATIKA_2011_2016.pdf">download</a></li>
	<li>Sertifikat Akreditasi Informatika 2015-2020 - <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_TEKNIK_INFORMATIKA_2015_2020.pdf">download</a></li>
	<li>Sertifikat Akreditasi INFORMATIKA 2018-2023 - <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_TEKNIK_INFORMATIKA_SEPTEMBER_2018_SEPTEMBER_2023.pdf">download</a></li>
	<li>Sertifikat Akreditasi Ilmu Komputer 2018-2023 - <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_ILMU_KOMPUTER_OKTOBER_2018_SEPTEMBER_2023.pdf">download</a></li>
	<li>Sertifikat Akreditasi Ilmu Komputer 2023-2028 - <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_ILMU_KOMPUTER_2023_2028.pdf">download</a></li>
	<li>SK BANPT INFORMATIKA 2018-2023 - <a href="https://unwira.ac.id/assets/akreditasi/SK_BANPT_TEKNIK_INFROMATIKA_SEPTEMBER_2018_SEPTEMBER_2023.pdf">download</a></li>
	<li>SK BANPT Ilmu Komputer 2018-2023 - <a href="https://unwira.ac.id/assets/akreditasi/SK_BANPT_ILMU_KOMPUTER_2018_2023.pdf">download</a></li>
</ol>
<p><strong>Prodi Arsitektur</strong></p>
<ol>
	<li>Sertifikat Akreditasi 2008-2013 - <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_ARSITEKTUR_2008_2013.pdf">download</a></li>
	<li>Sertifikat Akreditasi 2013-2018 - <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_ARSITEKTUR_2013_2018.pdf">download</a></li>
	<li>Sertifikat Akreditasi 2018-2023 - <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_ARSITEKTUR_2018_2023.pdf">download</a></li>
	<li>SK BANPT 2018-2023 - <a href="https://unwira.ac.id/assets/akreditasi/SK_BANPT_ARSITEKTUR_2018_2023.pdf">download</a></li>
	<li>SK BANPT 2024 - <a href="https://unwira.ac.id/assets/akreditasi/SK_BANPT_ARSITEKTUR_2024.pdf">download</a></li>
</ol>
<p><strong>Prodi Teknik Sipil</strong></p>
<ol>
	<li>Sertifikat Akreditasi 2014-2019 - <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_TEKNIK_SIPIL_2014_2019.pdf">download</a></li>
	<li>Sertifikat Akreditasi 2018-2023 - <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_TEKNIK_SIPIL_2018_2023.pdf">download</a></li>
	<li>Sertifikat Akreditasi 2024-2028 - <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_TEKNIK_SIPIL_2024_2028.pdf">download</a></li>
	<li>SK BANPT 2018-2023 - <a href="https://unwira.ac.id/assets/akreditasi/SK_BANPT_TEKNIK_SIPIL_2018_2023.pdf">download</a></li>
</ol>
<p><strong>Prodi Ekonomi Pembangunan</strong></p>
<ol>
	<li>Sertifikat Akreditasi 2014-2019 - <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_EKONOMI_PEMBANGUNAN_2014_2019.pdf">download</a></li>
	<li>Sertifikat Akreditasi 2019-2024 - <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_EKONOMI_PEMBANGUNAN_2019_2024.pdf">download</a></li>
	<li>Sertifikat Akreditasi 2024-2029 - <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_EKONOMI_PEMBANGUNAN_2024_2029.pdf">download</a></li>
	<li>SK BANPT 2019-2024 - <a href="https://unwira.ac.id/assets/akreditasi/SK_BANPT_TEKNIK_SIPIL_2018_2023.pdf">download</a></li>
</ol>
<p><strong>Prodi Akuntasi</strong></p>
<ol>
	<li>Sertifikat Akreditasi 2013-2018 - <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_AKUNTANSI_2013_2018.pdf">download</a></li>
	<li>Sertifikat Akreditasi 2018-2023 - <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_AKUNTANSI_2018_2023.pdf">download</a></li>
	<li>Sertifikat Akreditasi 2023-2028 - <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_AKUNTANSI_2023_2028.pdf">download</a></li>
	<li>SK BANPT 2018-2023 - <a href="https://unwira.ac.id/assets/akreditasi/SK_BANPT_AKUNTANSI_2018_2023.pdf">download</a></li>
</ol>
<p><strong>Prodi Manajemen</strong></p>
<ol>
	<li>Sertifikat Akreditasi 2014-2019 - <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_MANAJEMEN_2014_2019.pdf">download</a></li>
	<li>Sertifikat Akreditasi 2019-2024 - <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_MANAJEMEN_2019_2024.pdf">download</a></li>
	<li>Sertifikat Akreditasi 2024-2029 - <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_MANAJEMEN_2024_2029.pdf">download</a></li>
	<li>SK BANPT 2019-2024 - <a href="https://unwira.ac.id/assets/akreditasi/SK_BANPT_MANAJEMEN_2019_2024.pdf">download</a></li>
</ol>
<p><strong>Prodi Manajemen S1</strong></p>
<ol>
	<li>Sertifikat Akreditasi 2014-2019 - <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_MANAJEMEN_2014_2019.pdf">download</a></li>
	<li>Sertifikat Akreditasi 2019-2024 - <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_MANAJEMEN_2019_2024.pdf">download</a></li>
	<li>Sertifikat Akreditasi 2024-2029 - <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_MANAJEMEN_2024_2029.pdf">download</a></li>
	<li>SK BANPT 2019-2024 - <a href="https://unwira.ac.id/assets/akreditasi/SK_BANPT_MANAJEMEN_2019_2024.pdf">download</a></li>
</ol>
<p><strong>Prodi Magister Manajemen S2</strong></p>
<ol>
	<li>Sertifikat Akreditasi 2015-2020 - <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_MAGISTER_MANAJEMEN_2015_2020.pdf">download</a></li>
	<li>Sertifikat Akreditasi 2021-2026 - <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_MAGISTER_MANAJEMEN_2021_2026.pdf">download</a></li>
</ol>
<p><strong>Prodi MIPA KIMIA</strong></p>
<ol>
	<li>Sertifikat Akreditasi 2013-2018 - <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_KIMIA _2013_2018.pdf">download</a></li>
	<li>Sertifikat Akreditasi 2018-2023 - <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_KIMIA_2018_2023.pdf">download</a></li>
	<li>Sertifikat Akreditasi 2023-2028 - <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_KIMIA_2023_2028.pdf">download</a></li>
	<li>SK BANPT 2018-2023 - <a href="https://unwira.ac.id/assets/akreditasi/SK_BANPT_KIMIA_2018_2023.pdf">download</a></li>
</ol>
<p><strong>Prodi MIPA BIOLOGI</strong></p>
<ol>
	<li>Sertifikat Akreditasi 2015-2020 - <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_BIOLOGI_2015_2020.pdf">download</a></li>
	<li>Sertifikat Akreditasi 2018-2023 - <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_BIOLOGI_2018_2023.pdf">download</a></li>
	<li>Sertifikat Akreditasi 2023-2028 - <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_BIOLOGI_2023_2028.pdf">download</a></li>
	<li>SK BANPT 2018-2023 - <a href="https://unwira.ac.id/assets/akreditasi/SK_BANPT_BIOLOGI_2018_2023.pdf">download</a></li>
</ol>
<p><strong>Prodi Ilmu Pemerintahan</strong></p>
<ol>
	<li>Sertifikat Akreditasi 2014-2019 - <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_ILMU_PEMERINTAHAN_2014_2019.pdf">download</a></li>
	<li>Sertifikat Akreditasi 2019-2024 - <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_ILMU_PEMERINTAHAN_2019_2024.pdf">download</a></li>
	<li>SK BANPT 2019-2024 - <a href="https://unwira.ac.id/assets/akreditasi/SK_BANPT_ILMU_PEMERINTAHAN_2019_2024.pdf">download</a></li>
	<li>Sertifikat Akreditasi 2024-2029 - <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_ILMU_PEMERINTAHAN_2024_2029.pdf">download</a></li>
</ol>
<p><strong>Prodi Ilmu Komunikasi</strong></p>
<ol>
	<li>Sertifikat Akreditasi 2015-2020 - <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_ILMU_KOMUNIKASI_2015_2020.pdf">download</a></li>
	<li>Sertifikat Akreditasi 2020-2025 - <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_ILMU_KOMUNIKASI_2020_2025.pdf">download</a></li>
	<li>SK BANPT 2015-2020 - <a href="https://unwira.ac.id/assets/akreditasi/SK_BANPT_ILMU_KOMUNIKASI_2015_2020.pdf">download</a></li>
	<li>SK BANPT 2020-2025 - <a href="https://unwira.ac.id/assets/akreditasi/SK_BANPT_ILMU_KOMUNIKASI_2020_2025.pdf">download</a></li>
</ol>
<p><strong>Prodi Administrasi Publik</strong></p>
<ol>
	<li>Sertifikat Akreditasi ADMINISTRASI NEGARA 2019-2024 - <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_ILMU_ADMINISTRASI_NEGARA_MEI2019_MEI2024.pdf">download</a></li>
	<li>Sertifikat Akreditasi ADMINISTRASI PUBLIK 2019-2024 - <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_ADMINISTRASI_PUBLIK_MEI2019_MEI2024.pdf">download</a></li>
	<li>Sertifikat Akreditasi ADMINISTRASI PUBLIK 2024-2029 - <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_ADMINISTRASI_PUBLIK_2024_2029.pdf">download</a></li>
	<li>SK BANPT ADMINISTRASI NEGARA 2019-2024 - <a href="https://unwira.ac.id/assets/akreditasi/SK_BANPT_ADMINISTRASI_NEGARA_MEI2019_MEI2024.pdf">download</a></li>
	<li>SK BANPT ADMINISTRASI PUBLIK 2019-2024 - <a href="https://unwira.ac.id/assets/akreditasi/SK_BANPT_ADMINISTRASI_PUBLIK_MEI2019_MEI2024.pdf">download</a></li>
</ol>

<p><strong>AKREDITASI_PRODI_KIMIA_PENDIDIKAN_BAHASA INGGRIS_PENDIDIKAN_MATEMATIKA_TAHUN_2002_(BERLAKU_5_TAHUN_UNTUK_PRODI_YANG_PERINGKAT_B_DAN_3_TAHUN_UNTUK_PRODI_YANG_PERINGKAT_C)</strong> - <a href="https://unwira.ac.id/assets/akreditasi/AKREDITASI_PRODI_KIMIA_PENDIDIKAN_BAHASA INGGRIS_PENDIDIKAN_MATEMATIKA_TAHUN_2002_(BERLAKU_5_TAHUN_UNTUK_PRODI_YANG_PERINGKAT_B_DAN_3_TAHUN_UNTUK_PRODI_YANG_PERINGKAT_C).pdf">download</a></li></p>
