<p><strong>Prodi Pendidikan Kimia</strong></p>

<ol>
	<li>Sertifikat Akreditasi 2015 - 2020 - <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_PENDIDIKAN_KIMIA_2015_2020_20240829_0001.pdf">download</a></li>
	<li>Sertifikat Akreditasi 2018-2023- <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_PENDIDIKAN_KIMIA_2018_2023.pdf">download</a></li>
	<li>Sertifikat Akreditasi 2023-2028 - <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_PENDIDIKAN_KIMIA_2023_2028.pdf">download</a></li>
	<li>SK Akreditasi 2018-2023&nbsp;- <a href="https://unwira.ac.id/assets/akreditasi/SK_BANPT_PENDIDIKAN_KIMIA_2018_2023.pdf">download</a></li>
	<li>SK Akreditasi 2023-2028&nbsp;- <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_PENDIDIKAN_KIMIA_2023_2028.pdf">download</a></li>
</ol>

<p><strong>Prodi Pendidikan Biologi</strong></p>
<ol>
	<li>Sertifikat Akreditasi 2014-2019- <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_PENDIDIKAN_BIOLOGI_2014_2019.pdf">download</a></li>
	<li>Sertifikat Akreditasi 2018-2023- <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT__PENDIDIKAN_BIOLOGI_2018_2023.pdf">download</a></li>
	<li>Sertifikat Akreditasi 2023-2028 - <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_PENDIDIKAN_BIOLOGI_2023_2028.pdf">download</a></li>
	<li>SK Akreditasi 2018-2023&nbsp;- <a href="https://unwira.ac.id/assets/akreditasi/SK_BANPT_PENDIDIKAN_BIOLOGI 2018_2023.pdf">download</a></li>
</ol>

<p><strong>Prodi Pendidikan Bahasa Inggris</strong></p>
<ol>
	<li>Sertifikat Akreditasi 2014-2019- <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_PENDIDIKAN_BAHASA_INGGRIS_2014_2019.pdf">download</a></li>
	<li>Sertifikat Akreditasi 2018-2023- <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_PENDIDIKAN_BAHASA INGGRI_2018_2023.pdf">download</a></li>
	<li>Sertifikat Akreditasi 2023-2028 - <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_PENDIDIKAN_BAHASA_INGGRIS_2023_2028.pdf">download</a></li>
	<li>SK Akreditasi 2018-2023&nbsp;- <a href="https://unwira.ac.id/assets/akreditasi/SK_BANPT_PENDIDIKAN_BAHASA_INGGRIS_2018_2023.pdf">download</a></li>
</ol>

<p><strong>Prodi Pendidikan Matematika</strong></p>
<ol>
	<li>Sertifikat Akreditasi 2013-2018- <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_PENDIDIKAN_MATEMATIKA_2013_2018.pdf">download</a></li>
	<li>Sertifikat Akreditasi 2018-2023- <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_PENDIDIKAN_MATEMATIKA_2018_2023.pdf">download</a></li>
	<li>Sertifikat Akreditasi 2023-2028 - <a href="https://unwira.ac.id/assets/akreditasi/SERTIFIKAT_PENDIDIKAN_BAHASA_INGGRIS_2023_2028.pdf">download</a></li>
	<li>SK Akreditasi 2018-2023&nbsp;- <a href="https://unwira.ac.id/assets/akreditasi/SK_BANPT_PENDIDIKAN_BAHASA_INGGRIS_2018_2023.pdf">download</a></li>
</ol>
